<ion-header>
  <ion-toolbar color="#6AD0FF">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Pay For Meter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="#6AD0FF">
<div *ngIf="meter && !meter.purchaseStatus">
  <p> Selected Meter </p>
  {{ meter.address }}
  <ion-slide>
  <ion-grid>
  <ion-row>
    <ion-col>
      <ion-card (click)="displayChoice('fifteen')">
        <ion-card-header>
          15 Minutes
        </ion-card-header>
        <ion-card-content>
          Start: {{ startTime }}<br>
          End: {{ endTime[0] }}<br>
          Cost: ${{ cost[0] }}
        </ion-card-content>
      </ion-card>
      
    </ion-col>
    <ion-col>
    <ion-card (click)="displayChoice('thirty')">
      <ion-card-header>
        30 Minutes
      </ion-card-header>
      <ion-card-content onload="calc()">
        Start: {{ startTime }}<br>
        End: {{ endTime[1] }}<br>
        Cost: ${{ cost[1] }}
      </ion-card-content>
    </ion-card>
  </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card (click)="displayChoice('fortyfive')">
        <ion-card-header>
          45 Minutes
        </ion-card-header>
        <ion-card-content>
          Start: {{ startTime }}<br>
          End: {{ endTime[2] }}<br>
          Cost: ${{ cost[2] }}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card (click)="displayChoice()">
        <ion-card-header>
          60 Minutes
        </ion-card-header>
        <ion-card-content>
          Start: {{ startTime }}<br>
          End: {{ endTime[3] }}<br>
          Cost: ${{ cost[3] }}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  </ion-grid>
  </ion-slide>
</div>

<div *ngIf="meter && meter.purchaseStatus">
  <ion-card>
    <ion-card-header>
      Meter: {{meter.address}} has been purchased.
    </ion-card-header>
    <ion-card-content>
      Start Time: {{startTime}}<br>
      Time Remaining: {{remMins}} minutes<br>
      End Time: {{ endTime }}
    </ion-card-content>
  </ion-card>

</div>

</ion-content>
