<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>payMeter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="#6AD0FF">
<div *ngIf="meter">{{meter.name}} {{meter.availability}}
  <p> Selected Meter </p>
  <li>
    {{ meter.address }}
  </li>
  <ion-card>
    <ion-card-header>
      15 Minutes
    </ion-card-header>
    <ion-card-content>
      Start:
      End:
      Cost:
    </ion-card-content>
  </ion-card>
</div>

</ion-content>
