
ion-title {
    background-color: #6AD0FF;
    font-size: 40px;
    color: white;
    padding-top: 15px;
    border: none;
    font-family: 'Libre_Caslon';
}

ion-content {
    background-color: #6AD0FF;
    font-size: 20px;
    color: white;
    font-family: 'Libre_Caslon';
}

img {
    margin: auto;
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    // width: 30%;
}
p {
    background-color: #6AD0FF;
    font-size: 20px;
    color: white;
    font-family: 'Libre_Caslon';
}

.error-message {
    color: rgb(223, 62, 62);
    font-size: 15px;
    font-family: 'Libre_Caslon';
}
