ion-header {
  background-color: #6AD0FF;
  padding: 15px;
}

ion-title {
  background-color: #6AD0FF;
  font-size: 40px;
  color: white;
  font-family: 'Libre_Caslon';

}

ion-content {
  background-color: white;
  font-size: 20px;
  color: black;
  border: none;
  font-family: 'Libre_Caslon';
}

img {
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

ion-footer {
  background-color: #6AD0FF;
  padding: 10px;
}

.round {
  width:90%;
  height: 37px;
  border-radius: 3%;
}

ion-card {
  width:90%;
  align-content: center;
  background-color: white;
}