<ion-header>
  <ion-toolbar color="#6AD0FF">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-title">Navigation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-input clear-input = true placeholder="Enter Destination or Select Marker" [(ngModel)]="dest"></ion-input>
  <ion-button class="button" (click) ="setDestination(dest)">submit</ion-button>
  <!-- <ion-button class="button" (click) ="sendNavAlert()">Pay for Meter</ion-button> -->
  <ion-row style="height: 10px"></ion-row>
  
  <ion-card>
		<ion-card-content>
			<div #directionsPanel></div>
		</ion-card-content>
  </ion-card>
  <div #map id="map"></div>
</ion-content>
