<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Navigate To Destination</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input placeholder="Enter Destination" [(ngModel)]="dest"></ion-input>
  <ion-button class="button" (click) ="setDestination(dest)">submit</ion-button>
  <ion-row style="height: 10px"></ion-row>
  
  <ion-card>
		<ion-card-content>
			<div #directionsPanel></div>
		</ion-card-content>
  </ion-card>
  <div #map id="map"></div>
</ion-content>
