ion-header {
    background-color: #6AD0FF;
    font-size: 40px;
    color: white;
    padding-top: 30px;
    font-family: 'Libre_Caslon';
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
   
}


ion-title {
    background-color: #6AD0FF;
    padding-top:20px;
    font-size: 40px;
    color: white;
    background-color: #6AD0FF;
    font-family: 'Libre_Caslon';
}

ion-content {
    background-color: #6AD0FF;
    font-size: 20px;
    color: white;
    border:none;
    font-family: 'Libre_Caslon';
}

form {
    background-color: #6AD0FF;
    border:none;
}

p {
    background-color: #6AD0FF;
    font-size: 20px;
    color: white;
    font-family: 'Libre_Caslon';
}

